#ðŸ“Œ ExtracciÃ³n

In [282]:
# â†’ Importa la Biblioteca Pandas
import pandas as pd

In [283]:
# â†’ Importa la librerÃ­a para hacer solicitudes HTTP.
import requests

In [284]:
# â†’ Definir la URL del archivo JSON (desde GitHub)
url = 'https://raw.githubusercontent.com/smringdesigns/Challenge_2_TelecomX/refs/heads/main/TelecomX_Data.json'

In [285]:
# â†’ Hace una solicitud a la URL y guarda la respuesta (el archivo JSON)
response = requests.get(url)

In [286]:
# â†’ â†’ Convierte el contenido JSON de la respuesta en un diccionario de Python.
data = response.json()

In [287]:
# â†’ Convierte ese diccionario en un DataFrame de pandas para trabajarlo como una tabla.
df = pd.DataFrame(data)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#ðŸ”§ TransformaciÃ³n

In [288]:
# â†’ Mostrar nombres de columnas
df.columns.tolist()

['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

In [289]:
#  â†’ Revisar tipos de datos y nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [290]:
# â†’ Mostrar tipos de datos
df.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [291]:
# Verifica los tipos Ãºnicos de datos por columna
for col in df.columns:
    tipos = df[col].apply(type).value_counts()
    print(f"\nColumna: {col}")
    print(tipos)

Columna: customerID
customerID
<class 'str'>    7267
Name: count, dtype: int64

Columna: Churn
Churn
<class 'str'>    7267
Name: count, dtype: int64

Columna: customer
customer
<class 'dict'>    7267
Name: count, dtype: int64

Columna: phone
phone
<class 'dict'>    7267
Name: count, dtype: int64

Columna: internet
internet
<class 'dict'>    7267
Name: count, dtype: int64

Columna: account
account
<class 'dict'>    7267
Name: count, dtype: int64

In [292]:
# Total de valores nulos por columna
df.isnull().sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

In [293]:
# Ver columnas con celdas tipo dict o list
columnas_invalidas = []

for col in df.columns:
    tipos = df[col].apply(type).unique()
    if df[col].apply(type).isin([dict, list]).any():
        columnas_invalidas.append(col)

print("Columnas con celdas tipo dict o list:")
print(columnas_invalidas)

Columnas con celdas tipo dict o list:
['customer', 'phone', 'internet', 'account']

In [294]:
# Creamos un nuevo DataFrame sin esas columnas
df_sin_dict = df.drop(columns=columnas_invalidas)

In [295]:
# Verificar filas duplicadas completas
duplicados = df_sin_dict.duplicated().sum()
print(f"Filas duplicadas (sin columnas con dict/list): {duplicados}")

Filas duplicadas (sin columnas con dict/list): 0

In [296]:
# Aplanar el JSON
import pandas as pd
from pandas import json_normalize

df = pd.json_normalize(
    data,
    sep='.'
    )
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [297]:
# Verificar si tenemos columnas
print("\nTipos de datos: ")
print(df.columns.tolist())

Tipos de datos:
['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen', 'customer.Partner', 'customer.Dependents', 'customer.tenure', 'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService', 'internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection', 'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract', 'account.PaperlessBilling', 'account.PaymentMethod', 'account.Charges.Monthly', 'account.Charges.Total']

In [298]:
# Verificar valores nulos
print("\nValores nulos por columna: ")
print(df.isnull().sum())

Valores nulos por columna:
customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [299]:
# Verificar valores Ãºnicos en columnas importantes
cols = ['Churn', 'account.Charges.Total', 'account.Charges.Monthly', 'customer.gender',]

for col in cols:
    print(f"\nValores Ãºnicos en la columna '{col}':")
    print(df[col].value_counts())

Valores Ãºnicos en la columna 'Churn':
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

Valores Ãºnicos en la columna 'account.Charges.Total':
account.Charges.Total
20.2       11
           11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64

Valores Ãºnicos en la columna 'account.Charges.Monthly':
account.Charges.Monthly
20.05    65
19.90    46
19.85    46
19.55    45
19.70    45
         ..
87.90     1
87.60     1
52.20     1
68.30     1
66.60     1
Name: count, Length: 1585, dtype: int64

Valores Ãºnicos en la columna 'customer.gender':
customer.gender
Male      3675
Female    3592
Name: count, dtype: int64

In [300]:
# Convertir numÃ©ricas
df['account.Charges.Total'] = pd.to_numeric(df['account.Charges.Total'], errors='coerce')
df['account.Charges.Monthly'] = pd.to_numeric(df['account.Charges.Monthly'], errors='coerce')

# Reemplazar vacÃ­os en Churn
df['Churn'] = df['Churn'].replace('', pd.NA)
df = df.dropna(subset=['Churn'])

# Eliminar espacios en texto
df = df.apply(lambda col: col.str.strip() if col.dtype == 'object' else col)

In [301]:
# Confirmar los valores vÃ¡lidos
print(df['Churn'].unique())

['No' 'Yes']

In [302]:
# Eliminar espacios en variables categÃ³ricas
cols_categoricas = df.select_dtypes(include=['object']).columns

for col in cols_categoricas:
    df[col] = df[col].str.strip()

In [303]:
# Verificar datos booleanos que estÃ©n como texto
cols_binarias = [
    'customer.Partner', 'customer.Dependents',
    'phone.PhoneService', 'phone.MultipleLines',
    'internet.OnlineSecurity', 'internet.OnlineBackup',
    'internet.DeviceProtection', 'internet.TechSupport',
    'internet.StreamingTV', 'internet.StreamingMovies',
    'account.PaperlessBilling', 'Churn'
]

# Convertimos a True/False
for col in cols_binarias:
    df[col] = df[col].map({'Yes': True, 'No': False})

In [304]:
# RevisiÃ³n final
print("Valores nulos restantes por columna:")
print(df.isnull().sum())

print("\nTipos de datos:")
print(df.dtypes)

print("\nDimensiones finales del dataset:")
print(df.shape)

Valores nulos restantes por columna:
customerID                      0
Churn                           0
customer.gender                 0
customer.SeniorCitizen          0
customer.Partner                0
customer.Dependents             0
customer.tenure                 0
phone.PhoneService              0
phone.MultipleLines           682
internet.InternetService        0
internet.OnlineSecurity      1526
internet.OnlineBackup        1526
internet.DeviceProtection    1526
internet.TechSupport         1526
internet.StreamingTV         1526
internet.StreamingMovies     1526
account.Contract                0
account.PaperlessBilling        0
account.PaymentMethod           0
account.Charges.Monthly         0
account.Charges.Total          11
dtype: int64

Tipos de datos:
customerID                    object
Churn                           bool
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner                bool
customer.Dependents             bool
customer.tenure                int64
phone.PhoneService              bool
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling        bool
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total        float64
dtype: object

Dimensiones finales del dataset:
(7043, 21)

In [305]:
# Si el cliente no tiene servicio de internet, esas columnas pueden quedarse como 'No'
df.loc[df['internet.InternetService'] == 'No', [
    'internet.OnlineSecurity',
    'internet.OnlineBackup',
    'internet.DeviceProtection',
    'internet.TechSupport',
    'internet.StreamingTV',
    'internet.StreamingMovies'
]] = df.loc[df['internet.InternetService'] == 'No', [
    'internet.OnlineSecurity',
    'internet.OnlineBackup',
    'internet.DeviceProtection',
    'internet.TechSupport',
    'internet.StreamingTV',
    'internet.StreamingMovies'
]].fillna('No')

In [306]:
df['account.Charges.Total'] = df['account.Charges.Total'].fillna(0)
df.loc[df['phone.PhoneService'] == False, 'phone.MultipleLines'] = 'No'

In [307]:
print(df.isnull().sum())

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [308]:
# Guardar el dataset limpio
df.to_csv('TelecomX_limpio.csv', index=False)

In [309]:
# Crear la nueva columna dividiendo los cargos mensuales entre 30 dÃ­as
df['Cuentas_Diarias'] = df['account.Charges.Monthly'] / 30

# Revisamos que se haya creado correctamente
print(df[['account.Charges.Monthly', 'Cuentas_Diarias']].head())

   account.Charges.Monthly  Cuentas_Diarias
0                     65.6         2.186667
1                     59.9         1.996667
2                     73.9         2.463333
3                     98.0         3.266667
4                     83.9         2.796667

In [310]:
# Columnas binarias (Yes/No)
columnas_binarias = [
    'customer.Partner', 'customer.Dependents',
    'phone.PhoneService', 'phone.MultipleLines',
    'internet.OnlineSecurity', 'internet.OnlineBackup',
    'internet.DeviceProtection', 'internet.TechSupport',
    'internet.StreamingTV', 'internet.StreamingMovies',
    'account.PaperlessBilling', 'Churn'
]

# Reemplazar Yes/No por 1/0
for col in columnas_binarias:
    df[col] = df[col].replace({'Yes': 1, 'No': 0})

# Convertir a entero (y rellenar NaNs con 0 si es necesario)
df[columnas_binarias] = df[columnas_binarias].fillna(0).astype(int)

In [311]:
# Renombrar columnas a nombres mÃ¡s claros
df.rename(columns={
    'customer.gender': 'Genero',
    'customer.SeniorCitizen': 'AdultoMayor',
    'customer.Partner': 'TienePareja',
    'customer.Dependents': 'TieneDependientes',
    'customer.tenure': 'MesesContrato',
    'phone.PhoneService': 'Telefono',
    'phone.MultipleLines': 'VariasLineas',
    'internet.InternetService': 'TipoInternet',
    'internet.OnlineSecurity': 'SeguridadEnLinea',
    'internet.OnlineBackup': 'RespaldoEnLinea',
    'internet.DeviceProtection': 'ProteccionDispositivo',
    'internet.TechSupport': 'SoporteTecnico',
    'internet.StreamingTV': 'TV',
    'internet.StreamingMovies': 'Peliculas',
    'account.Contract': 'TipoContrato',
    'account.PaperlessBilling': 'FacturaDigital',
    'account.PaymentMethod': 'MetodoPago',
    'account.Charges.Monthly': 'CargosMensuales',
    'account.Charges.Total': 'CargosTotales'
}, inplace=True)

In [312]:
# Revisamos los primeros registros
df.head()

# Verificamos los tipos
print(df.dtypes)

customerID                object
Churn                      int64
Genero                    object
AdultoMayor                int64
TienePareja                int64
TieneDependientes          int64
MesesContrato              int64
Telefono                   int64
VariasLineas               int64
TipoInternet              object
SeguridadEnLinea           int64
RespaldoEnLinea            int64
ProteccionDispositivo      int64
SoporteTecnico             int64
TV                         int64
Peliculas                  int64
TipoContrato              object
FacturaDigital             int64
MetodoPago                object
CargosMensuales          float64
CargosTotales            float64
Cuentas_Diarias          float64
dtype: object

In [313]:
# Guardar el dataset limpio
df.to_csv('TelecomX_limpio.csv', index=False)

In [314]:
# Ver los valores Ãºnicos antes de transformar
columnas_binarias = [
    'TienePareja', 'TieneDependientes', 'Telefono', 'VariasLineas',
    'SeguridadEnLinea', 'RespaldoEnLinea', 'ProteccionDispositivo',
    'SoporteTecnico', 'TV', 'Peliculas', 'FacturaDigital'
]

for col in columnas_binarias:
    print(f"{col}: {df[col].unique()}")

TienePareja: [1 0]
TieneDependientes: [1 0]
Telefono: [1 0]
VariasLineas: [0 1]
SeguridadEnLinea: [0 1]
RespaldoEnLinea: [1 0]
ProteccionDispositivo: [0 1]
SoporteTecnico: [1 0]
TV: [1 0]
Peliculas: [0 1]
FacturaDigital: [1 0]

#ðŸ“Š Carga y anÃ¡lisis

In [315]:
# AnÃ¡lisis estadÃ­stico de columnas numÃ©ricas
df.describe()

,Churn,AdultoMayor,TienePareja,TieneDependientes,MesesContrato,Telefono,VariasLineas,SeguridadEnLinea,RespaldoEnLinea,ProteccionDispositivo,SoporteTecnico,TV,Peliculas,FacturaDigital,CargosMensuales,CargosTotales,Cuentas_Diarias
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.265370,0.162147,0.483033,0.299588,32.371149,0.903166,0.421837,0.286668,0.344881,0.343888,0.290217,0.384353,0.387903,0.592219,64.761692,2279.734304,2.158723
std,0.441561,0.368612,0.499748,0.458110,24.559481,0.295752,0.493888,0.452237,0.475363,0.475038,0.453895,0.486477,0.487307,0.491457,30.090047,2266.794470,1.003002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.608333
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.500000,398.550000,1.183333
50%,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,70.350000,1394.550000,2.345000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.850000,3786.600000,2.995000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8684.800000,3.958333

#ðŸ“„Informe final